
body{
    text-align: center;
}
/* heading setion */

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}




/* title Section */


#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
}
.download-btn{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* Feature section */


#features{
    padding: 7% 10%;
    background-color: white;
    position: relative;
}

.icon{
    color:#ff4c68;
    padding: 1rem;
}
.icon:hover{
    color:#ef8172
}


/* Testimoinal section */


#testimonials{

    background-color: #ff4c68;
    color: #fff;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
.pricing-heading{
    margin: 20px 20px;
}
#press{
    background-color: #ff4c68;
    padding: 3%;
}

.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 10%;
}
#pricing{
    padding: 100px;

}

.pricing-col{
    padding: 3% 2%;
    text-align: center;
}


/* Media Query Section */
@media (max-width: 1030px) {
    #title{
        text-align: center;
    }
   .title-image{
    position: static;
    transform: rotate(0);
    width: 40%;

}
}


/* Cta section */


#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 10%;
}
.cta-heading{
    line-height: 3.5rem;
}


/* Footer section */
#footer{
    padding: 7% 10%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
